@page
@model OnlineShop.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<div class="mb-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-page="/Categories/AddEditCategory" class="btn btn-success mb-4">
            <span class="bi bi-plus"></span> Add Category
        </a>
    }
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var category in Model.Categories)
    {
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="@(string.IsNullOrEmpty(category.ImageUrl) ? "/images/noimage.png" : $"/images/{category.ImageUrl}")" class="card-img-top" alt="@category.Name">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <p class="card-text">
                        <strong>Number of Products:</strong> @category.Products.Count<br />
                        <strong>Description:</strong> @(string.IsNullOrEmpty(category.Summary) ? "No description available." : category.Summary)
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-page="/Products/SearchResult" class="btn btn-primary" asp-route-categoryId="@category.CategoryId">
                            Explore @category.Name
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            @if (category.CategoryId != 8)
                            {
                                <a asp-page="/Categories/AddEditCategory" asp-route-categoryId="@category.CategoryId" class="btn btn-warning">
                                    Edit
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-warning" disabled>Edit</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
